<h1>{{name}}</h1>
<table>
  <thead>
    <tr>
      <th>Sr. no </th>
      <th>name</th>
      <th>User name</th>
      <th>Email</th>
      <th>Address</th>
      <th>zipcode</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let item of datalist">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
      <td> <b>city:</b> {{item.address.city}} <b>Street:</b> {{item.address.street}} <br>
        <b>suite:</b> {{item.address.suite}} <b>geo:</b> {{item.address.geo.lat}} <b>lng:</b> {{item.address.geo.lng}}
      </td>
      <td> {{item.address.zipcode}} </td>
      <td> <b>Name</b> {{item.company.name}} <b>catchPhrase</b> {{item.company.catchPhrase}} {{item.company.bs}} </td>
    </tr>
  </tbody>
</table>
<app-header></app-header>
<app-login></app-login>